<h1>events</h1>

<div>
    <div>
     
         <strong> <%= @event.name %> </strong> <br>
         <%= @event.description %> <br>
         <%= @event.location %> <br>
         <%= @event.date %> <br>
        BY: <%= @event.creator_id.to_s %> <br>
      
    </div>


    <h3>Attendees</h3>
      <% @event.attendees.each do |attendee| %>
       <p> <%= attendee.name %></p>
       
      <% end %>

      <%= link_to "Events Listing", events_path %>
      

</div>


