<h1>events#show</h1>

<div>
    <div>
     
         <strong> <%= @event.title %> </strong> <br>
         <%= @event.description %> <br>
         <%= @event.location %> <br>
         <%= @event.event_date %> <br>
        BY: <%= @event.creator_id.to_s %> <br>
      
    </div>


    <h3>Attendees</h3>
      <% @event.invitations.each do |invitation| %>
       <p> <%= invitation.to_s %></p>
      <% end %>

</div>